h1{
  text-align: center;
}
.welcome{
  /* background-image: url('./resources/pokemon-shiny-red-pokeballs-adhvfe0nywara4os.jpg'); */
  background-image: url('./resources/pokemon-evolution-8b1ylsvrgjozt6aa.webp');
  background-size: cover;
  background-attachment: fixed;
}
