.containerCard{
    padding: 10px;  
    align-items: center;
}

.card{
    background: linear-gradient(100deg, rgba(240, 113, 81, 0.603) 0,2%, rgba(189, 130, 83, 0) 5%, rgb(255, 208, 0) 100%);
    height: 320px;
    width: 290px;
    border: 1px solid rgb(255, 0, 0);
    padding: 1px;
    text-decoration: none;
    color: rgb(231, 201, 145);
    border-radius: 10px;
}

img{
    /* margin: 5px 12px 0px 12px; */
    width: 240px;
    height: 250px;
    margin-top: 18px;
    margin-left: 25px;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.info{
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    color: yellow;
}